P { text-align: center }
H1 { text-align: center }
H2 { text-align: center }
H3 { text-align: center }
ul {
    text-align: center;
    list-style: inside;
}
body {background-color:#36393e;}
p{color:whitesmoke;}
a{color:whitesmoke;}
h1{color:antiquewhite;}
h2{color:floralwhite;}
li{color:whitesmoke;}