P { text-align: center }
H1 { text-align: center }
H2 { text-align: center }
a{color:whitesmoke;}
img:hover{transform: scale(1.1);}
body {background-color:	#36393e;}
p{color:whitesmoke;}
a{color:whitesmoke;}
h1{color:antiquewhite;}
h2{color:floralwhite;}
button{color:black;}
    button:hover {
        color: aquamarine;
        background-color: deepskyblue;
        transform: scale(1.025)
    }

* {
  box-sizing: border-box;
}
.header {
    background-color: #424549;
    padding: 1.5vh;
    text-align: center;
}
.container {
    text-align: center;
    font-size: 0;
    float: left;
    width: 60vw;
    padding: 1.5vh;
}
img {
    max-width: fit-content;
    height: 62.5vh;
    min-height: 200px;
}
.container2 {
    background-color: #424549;
    float: left;
    width: 30vw;
    padding: 1vh 1vw;
    margin-top: 0.5vh;
}
.block {
    font-size: 2vh;
    display: inline-block;
    width: 27vw;
    height: fit-content;
    border: none;
    background-color: #7289da;
    padding: 2vh 2vw;
    margin: 1vh;
    cursor: pointer;
    text-align: center;
}
button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
@media only screen and (max-width: 100px) {
    .container, .container2 {
        width: 100%;
    }
}